#StartPage {
  background-color: #222222;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.StartPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 15vh;
}

.StartPage_info {
  display: flex;
  align-items: baseline;
  margin-bottom: 72px;
  font-weight: 500;
}

.StartPage_time {
  font-size: 9rem;
  margin-right: 36px;
}

.StartPage_date {
  font-size: 2.25rem;
  opacity: 0.7;
}

.StartPage_nav {
  display: flex;
  flex-wrap: wrap;
}

.StartPage_nav_group {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.StartPage_nav_group:last-child {
  margin-right: 0;
}

.StartPage_nav_group_title {
  /* background-color: #444;
    border-radius: 16px;
    padding: 4px 16px; */
  padding: 0 0 4px 0;
  border-bottom: 2px dotted #a7a7a7;
  text-transform: uppercase;
  width: fit-content;
  margin: 0 0 24px 0;
  font-weight: 600;
}

.StartPage_nav_group_link {
  color: #fff;
  opacity: 0.6;
  text-decoration: none;
  margin: 0 0 24px 0;
}

.StartPage_nav_group_link:hover {
  opacity: 0.9;
}

.StartPage_notesContainer {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.StartPage_textArea {
  border-radius: 8px;
  background-color: #353535;
  border-color: #353535;
  color: #fff;
  width: 360px;
  padding: 16px;
  outline: none;
  resize: none;
  font-weight: 500;
  line-height: 1.5;
  border: 2px solid transparent;
}

.StartPage_textArea:focus {
  background-color: #222222;
  border-color: #3c3c3c;
}

.StartPage_textArea:focus:hover {
  background-color: initial;
}

.StartPage_textArea:hover {
  background-color: #403f3f;
}

.StartPage_button {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  border: none;
  border-radius: 8px;
  padding: 12px 36px;
  font-weight: 600;
  cursor: pointer;
  margin: 24px 0;
  background-color: transparent;
  border: 2px solid #464646;
  color: #fff;
  transition: 0.3s ease;
  font-size: 0.875rem;
  outline: none;
}

.StartPage_button:hover {
  background-color: #464646;
}

.StartPage_button:focus {
  background-color: #2d2d2d;
}

.StartPage_form {
  display: flex;
  flex-direction: column;
}

.StartPage_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.StartPage_list_title {
  margin: 0;
  opacity: 0.6;
}

.StartPage_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  background-color: #2d2d2d;
  padding: 16px;
  border-radius: 8px;
  transition: 0.3s ease;
  margin: 0 0 16px 0;
}

.StartPage_item:hover {
  background-color: #3c3c3c;
}

.StartPage_item:hover .StartPage_item_remove {
  visibility: visible;
  opacity: 1;
}

.StartPage_item_text {
  white-space: pre-wrap;
  line-height: 1.5;
}

.StartPage_item_remove {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: #e94c35;
  visibility: hidden;
  opacity: 0;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s ease;
  outline: none;
}

.StartPage_item_remove:hover {
  background-color: #e94c3566;
}
