#StartPage {
  background-color: #222222;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.StartPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20vh auto 10vh;
  max-width: 1600px;
}

.StartPage_info {
  display: flex;
  align-items: baseline;
  margin-bottom: 72px;
  font-weight: 500;
}

.StartPage_time {
  font-size: 8.25rem;
  margin-right: 36px;
}

.StartPage_date {
  font-size: 1.75rem;
  opacity: 0.7;
  font-weight: 500;
}

.StartPage_nav {
  display: flex;
  flex-wrap: wrap;
}

.StartPage_nav_group {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.StartPage_nav_group:last-child {
  margin-right: 0;
}

.StartPage_nav_group_title {
  font-size: 1rem;
  padding: 0 0 4px 0;
  border-bottom: 2px dotted #a7a7a7;
  width: fit-content;
  margin: 0 0 24px 0;
  font-weight: 500;
}

.StartPage_nav_group_link {
  font-size: 0.875rem;
  color: #fff;
  opacity: 0.6;
  text-decoration: none;
  margin: 0 0 24px 0;
}

.StartPage_nav_group_link:hover {
  opacity: 0.9;
}

.StartPage_notesContainer {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  width: 400px;
}

.StartPage_textArea {
  font-size: 0.875rem;
  border-radius: 8px;
  background-color: #222222;
  color: #fff;
  width: 360px;
  padding: 16px;
  outline: none;
  resize: none;
  font-weight: 500;
  line-height: 1.5;
  border: 2px solid #3c3c3c;
}

.StartPage_textArea:focus {
  background-color: #222222;
  border-color: #3c3c3c;
}

.StartPage_textArea:focus:hover {
  background-color: initial;
}

.StartPage_textArea:focus::placeholder {
  opacity: 0.4;
}

.StartPage_button {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  border: none;
  border-radius: 8px;
  padding: 10px 28px;
  font-weight: 600;
  cursor: pointer;
  margin: 24px 0;
  background-color: #464646;
  border: 2px solid #464646;
  color: #fff;
  transition: 0.3s ease;
  font-size: 0.875rem;
  outline: none;
}

.StartPage_button:hover {
  background-color: #3b3b3b;
}

.StartPage_button:focus {
  background-color: #2d2d2d;
}

.StartPage_form {
  display: flex;
  flex-direction: column;
}

.StartPage_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 24px 0;
}

.StartPage_list___scrollable {
  overflow-y: scroll;
  max-height: 280px;
  padding-right: 12px;
}

.StartPage_list_title {
  font-size: 1rem;
  margin: 0;
  opacity: 0.6;
}

.StartPage_item {
  display: flex;
  align-items: center;
  font-weight: 500;
  background-color: #2d2d2d;
  padding: 16px;
  border-radius: 8px;
  transition: 0.3s ease;
  margin: 0 0 16px 0;
}

.StartPage_item:last-child {
  margin-bottom: 0;
}

.StartPage_item:hover {
  background-color: #303030;
}

.StartPage_item_text {
  white-space: pre-wrap;
  line-height: 1.5;
  font-size: 0.875rem;
}

.StartPage_item_complete {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: #ffffff36;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
  margin-right: 16px;
  border: 2px solid;
  position: relative;
}

.StartPage_item_complete:hover .StartPage_item_complete_icon,
.StartPage_item_complete:focus .StartPage_item_complete_icon {
  visibility: visible;
  opacity: 1;
}

.StartPage_item_complete_icon {
  position: absolute;
  font-size: 24px;
  color: #1fce6d;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease;
}
